extends base.jade
block title
	title= "归档 - %s" % site.title
block content
	.archives
		h1.archive_title= '文章归档'
		entries = get_data(type='post',limit=300, sort='desc').group('-date:year')
		for sub_title, posts in entries
			.year= sub_title
			ul.posts_in_year: for post in posts: li
				span.date= post.date.format("%m/%d")
				a(href=post.url, title=post.title)= post.title
	+h.paginator()